* {
    font-family: sans-serif;
    box-sizing: border-box;
}
/* Variáveis CSS para reutilização */
:root {
  --background-color:#537D5D;
  --second-color: #73946B;
  --third-color:#9EBC8A;
  --fourth-color:#D2D0A0;
  --error-color: red;
}

body {
    background:var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    color: #f0f5f9;
}

.registro{
  background-color: aqua;
}



.input-floating {
  position: relative;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Garante que ocupe metade da linha como os outros campos */
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
}